<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body>
    <h1>Side Project</h1>
    <h2>내용 요약 및 검색 웹서비스 입니다. 아래에서 사용하실 옵션을 골라주세요.</h2>
        <a href="/url">
            <div class="url-option">
                <h2>웹 페이지 내용 요약</h2>
                <p>URL을 입력하시면 해당 웹페이지의 내용을 간단히 요약하여 출력합니다.</p>
            </div>
        </a>
        <a href="/wiki">
            <div class="wiki-option">
                <h2>위키피디아 검색</h2>
                <p>검색어를 입력하시면 위키피디아 검색 결과를 출력합니다.</p>
            </div>
        </a>
</body>
</html>